# Look Through Udemy course

##### print Statement

In [7]:
print("Hello world")

#print- function
#"hello world"- string argument
#string argument is passed to print function

Hello world

In [10]:
print(1+2)
#1+2 - Arthematic expression

3

In [13]:
print(1+2,"kozak",3)
# each argument is separated via ,
# 3 - Numerical literal

3 kozak 3

##### Varibles

In [16]:
#name -varible 
#input - function 
name=input("Enter name:")
greet="Hello"
# " "- white space added 
print(greet + " " + name)
# first input function is called then the user enters the value ,then the value is assigned to name varible

Hello kozak

##### String format

In [24]:
print("String is been \nsplit over \nmultiple lines with the help of \n'\ n' escape character")

String is been
split over
multiple lines with the help of
'\ n' escape character

In [25]:
print("String has tab spaces \tin between them this is \tdone with the help of \t'\ t' escape character")

String has tab spaces 	in between them this is 	done with the help of 	'\ t' escape character

In [26]:
print("""Kozak's presense is "empty" through out the day.""")

Kozak's presense is "empty" through out the day.

In [28]:
print("""There is no need 
for escape character backslash n to 
split the line 
because of 3 qoutess""")

There is no need
for escape character backslash n to
split the line
because of 3 qoutess

In [30]:
print("""we can use \
backslash to escape \
the end \
of the line""")

we can use backslash to escape the end of the line

In [31]:
print("c:\\user\\troll\\new.txt")
# using \\ escape character to dismiss wrong interpretation by kernal
print(r"c:\user\troll\new.txt")
# using r - raw to mark this as pass asit is

c:\user\troll\new.txt
c:\user\troll\new.txt

##### Varibles and types

In [ ]:
#varibles is basically a way to give a meaning full name to an area of memory into which we can place certain values.
greet= "hello"
# python knows when ever we talk about the varible greet it has to refer to certain area of memory.
# and also knows varible greet is of string type   
# varoble greet is bound to the string hello

##### Rules for varibles

In [ ]:
# 1. must start with letter (upper or lower case) or underscore
# 2. they can contain letter number and underscore but cannot contain numbers in starting of the varibles
# 3. case sensitive so k and K will  refer to diff area of memory

In [33]:
#types
age= 24
greet="hello"
print(type(greet))
print(type(age))
#in here python returns that the object greeet and age is of type str and int as per python abbreviations 
# type function can be used to know the type of varibles and object or what type of information is we are storing in that object
age="24 years"
print(type(age))
# in python we can rebound the label age to the string value 24 years

<class 'str'>
<class 'int'>
<class 'str'>

In [37]:
age=24
name="kozak"
print(name + "is" + age + "years old")
#Since python is a strongly type language it cannot concatenate string to int it has no idea what to do with that 
# automatic type conversion is usefull but python tries to prevent this to find the soure of bugs and error

TypeError: can only concatenate str (not "int") to str

 ##### Built in data types

In [38]:
#numberic
#iterator
#sequence(which is also iterators)
#mapping
#files
#class
#exception

In [ ]:
# Numberic data types 
# int
# float
# complex


# In python there is no limit to int type so u can run out of memory but no size limit

##### Operators and expression

In [42]:
a=12 
b=3
print(a+b)  # 15
print(a-b)  # 9
print(a*b)  # 36
print(a/b)  # 4 (float division)
print(a//b) # 4  quotient (integer division)
print(a%b)  # 0 remainder

print()

for i in range(1,a//b): # a/b cannot use because of float division but we cam use a/b it gives integer division
    print(i)

15
9
36
4.0
4
0

1
2
3

### So we cannot use "str" or "float" where  "int" is needed because "Python is a strongly typed language"

In [48]:
# Operator precedence 
a=12 
b=3
print(a + b /3 - 4 * 12)
print (a + (b/3)- (4*12))
print ((((a + b)/ 3)- 4)* 12)
print (((a + b)/ 3 -4)* 12)
c=a+b
d=c/3
e=d-4
print(e*12)

print(a /(b *a)/ b)

-35.0
-35.0
12.0
12.0
12.0
0.1111111111111111

In [56]:
# String data type 
# IN python str is a sequence of character 
#                   1111
#         01234567890123
parrot = "Norwegian blue"
print(parrot)
print(parrot[3]) # in codding index starts from 0 then goes 1 2 3 thats why 4th word w is printed
print(parrot[4])
print(parrot[9])
print(parrot[3])
print(parrot[6])
print(parrot[8])

print("\nVia Negative indexing:")
print(parrot[-11]) # Via negative indexing
print(parrot[-1])
print(parrot[-5])
print(parrot[-11])
print(parrot[-8])
print(parrot[-6])

print("\nVia Expression:")
print(parrot[3-14]) # 
print(parrot[4-14])
print(parrot[9-14])
print(parrot[3-14])
print(parrot[6-14])
print(parrot[8-14])

Norwegian blue
w
e

w
i
n

Via Negative indexing:
w
e

w
i
n

Via Expression:
w
e

w
i
n

##### String slicing

In [81]:
#                   1111
#         01234567890123
parrot = "Norwegian blue"
#Here in string slicing [startpoint : Endpoint : steps/skips]
#                       [   0       :    6     :            ] # inthis upto 6 but will not be inicluding slicing
print(parrot[0:6])  # Norweg 
print(parrot[:6])
print(parrot[10:14])
print(parrot[10:])
print(parrot[:6])
print(parrot[6:])
print(parrot[:6]+parrot[6:])
print(parrot[:])
print(parrot[0:6:2])    #Nre
print(parrot[0:6:3])    #Nw


# with Negative Indexing
print()
print(parrot[-4:-2])
print(parrot[-4:12])

Norweg
Norweg
blue
blue
Norweg
ian blue
Norwegian blue
Norwegian blue
Nre
Nw

bl
bl

In [82]:
number="9,654;453:483 215,453;654"
seperators=number[1::4]
print(seperators)

values = "".join(char if char not in seperators else " " for char in number).split()
print([int(val) for val in values])

,;: ,;
[9, 654, 453, 483, 215, 453, 654]

In [102]:
#negative slicing 
letters="abcdefghijklmnopqrstuvwxyz"
backwards=letters[::-1]     # here [::-1] is a slicing idioms
print(backwards)
print(letters[-10:-13:-1])
print(letters[16:13:-1])
print(letters[-22::-1])
print(letters[4::-1])
print(letters[:-9:-1])

zyxwvutsrqponmlkjihgfedcba
qpo
qpo
edcba
edcba
zyxwvuts

In [105]:
letters=""
print(letters[:1]) #slicing willreturn empty string
print(letters[0]) #indexing will produce error

IndexError: string index out of range

##### Sequence Types

In [ ]:
#The string type
#list
#tuple
#range
#bytes and bytearray

In [111]:
# string opeartors
string1="He's "
string2="probably "
string3="pining "
string4="for the "
string5="fjords"
print(string1 + string2 + string3 + string4 + string5)
print("He's " "probably " "pining " "for the " "fjords")
print("Hello " * 5)
print("Hello " * (5+4))
print("Hello " * 5 + "4")

He's probably pining for the fjords
He's probably pining for the fjords
Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello 4

In [112]:
today="friday"
print("day" in today)       #true
print("fri" in today)       #true
print("thurs" in today)     #false
print("parrot" in "fjords") #false

True
True
False
False

##### String replacements

In [113]:
age= 24
print("My age is {0} years".format(age))

My age is 24 years

In [114]:
print("There are {0} days in {1} , {2} , {3} , {4} , {5} , {6} and {7}"
      .format(31, "Jan","Mar","May","Jul","Aug","oct","Dec" ))

There are 31 days in Jan , Mar , May , Jul , Aug , oct and Dec

In [115]:
print("Jan: {2}, Feb: {0}, Mar: {2}, Apr: {1}, May: {2}, jun: {1}, jul: {2}, sep: {1}, Oct: {2}, Nov: {1}, Dec: {2}"
      .format(29,30,31))

Jan: 31, Feb: 29, Mar: 31, Apr: 30, May: 31, jun: 30, jul: 31, sep: 30, Oct: 31, Nov: 30, Dec: 31

##### Formatting

In [123]:
for i in range(1,13):
    print("No. {0:2} Squared is {1:3} and cubed is {2:4}"
          .format(i,i ** 2,i ** 3))
    
print()

for i in range(1,13):
    print("No. {0:2} Squared is {1:<3} and cubed is {2:^4}"
          .format(i,i ** 2,i ** 3)) # < is used to left aliegn and ^ is used for center

No.  1 Squared is   1 and cubed is    1
No.  2 Squared is   4 and cubed is    8
No.  3 Squared is   9 and cubed is   27
No.  4 Squared is  16 and cubed is   64
No.  5 Squared is  25 and cubed is  125
No.  6 Squared is  36 and cubed is  216
No.  7 Squared is  49 and cubed is  343
No.  8 Squared is  64 and cubed is  512
No.  9 Squared is  81 and cubed is  729
No. 10 Squared is 100 and cubed is 1000
No. 11 Squared is 121 and cubed is 1331
No. 12 Squared is 144 and cubed is 1728

No.  1 Squared is 1   and cubed is  1
No.  2 Squared is 4   and cubed is  8
No.  3 Squared is 9   and cubed is  27
No.  4 Squared is 16  and cubed is  64
No.  5 Squared is 25  and cubed is 125
No.  6 Squared is 36  and cubed is 216
No.  7 Squared is 49  and cubed is 343
No.  8 Squared is 64  and cubed is 512
No.  9 Squared is 81  and cubed is 729
No. 10 Squared is 100 and cubed is 1000
No. 11 Squared is 121 and cubed is 1331
No. 12 Squared is 144 and cubed is 1728

In [126]:
#Feild widths and precision
print("pi is approximately {0:12}".format(22/7))
print("pi is approximately {0:12f}".format(22/7))
print("pi is approximately {0:12.50f}".format(22/7))
print("pi is approximately {0:52.50f}".format(22/7))
print("pi is approximately {0:62.50f}".format(22/7))
print("pi is approximately {0:72.50f}".format(22/7))

pi is approximately 3.142857142857143
pi is approximately     3.142857
pi is approximately 3.14285714285714279370154144999105483293533325195312
pi is approximately 3.14285714285714279370154144999105483293533325195312
pi is approximately           3.14285714285714279370154144999105483293533325195312
pi is approximately                     3.14285714285714279370154144999105483293533325195312

In [128]:
#f-strings
print(f"pi is approximately {22/7:12.50f}")
pi=22/7
print(f"pi is approximately {pi:12.50f}")

pi is approximately 3.14285714285714279370154144999105483293533325195312
pi is approximately 3.14285714285714279370154144999105483293533325195312

In [131]:
#String Interpolation for Python2 
age= 24
print("My age is %d years"% age)

major= "years"
minor= "months"
print("My age is %d %s, %d %s"% (age,major,6,minor))
print("PI is approximately %f"% (22/7))
print("PI is approximately %60.50f"% (22/7))

My age is 24 years
My age is 24 years, 6 months
PI is approximately 3.142857
PI is approximately         3.14285714285714279370154144999105483293533325195312

# Practice (Programming puzzles)

Q) Write a Python program to check whether the given strings are palindromes or not. Return True otherwise False.<br>
Input:<br>
['palindrome', 'madamimadam', '', 'foo', 'eyes']<br>
Output:<br>
[False, True, True, False, False]<br>

In [3]:
def palin(st):
    return [s == s[::-1] for s in st]

st=[i for i in input("Enter words to check palindromes or not:").split()]
print(palin(st))

[True]